:root {
  --secondary-text-color: ##ffffff;
  --text-color: #454545;
  --accent-color: #ffa737;
  --primary-white-color: #ffffff;
  --secondary-background-color: #000000;
  --background-color: #ebebeb;
}
