body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Arimo', sans-serif, 'Source Code Pro' sans-serif;
}
